body {
    font-family: 'Roboto', sans-serif;
  }

a.github-button{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    border: 0.1em solid #000000;
    padding-left: 1.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: #000000;
    background: url(assets/github.png) left center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position-x: 0.2em;
    vertical-align: middle;
    margin: 1em;
}

.center {
    margin: auto;
    text-align: center;
  }

.grid{
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: 1em;
    margin-right:1em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #e7e7e7;
}

.grid > .grid-item{
    padding:0.2em;
    text-align: center;
    margin: 0.1em;
}

@media screen and (min-width: 480px) {
    .grid {
        grid-template-columns: 33% 33% 33%;
  }
}

@media screen and (max-width: 480px) {
    .grid {
        grid-template-columns: 100%;
    }
}

.text{
    text-align: left;
    padding: 2em;
}

.card{
    border: #000000 solid 0.01em;
    margin: 1em;
}

.card > p{
    text-align: left;
}

.card > img{
    margin: 1em;
    height: 120px;
    width: 160px;
}

.card-deck{
    background-color: white;
}

.footer{
    text-align: center;
    background-color: #262626;
    color: white;
}